@media print {
    @page {
        margin: 0.1mm;
    }

    body {
        -webkit-print-color-adjust: exact;
    }

    .red_print {
        background-color: #FFB6C1 !important;
    }

    .orange_print {
        background-color: #F4A460 !important;
    }

    .yellow_print {
        background-color: #F9F900 !important;
    }

    .green_print {
        background-color: #02DF82 !important;
    }

    .blue_print {
        background-color: #46A3FF !important;
    }

    .purple_print {
        background-color: #CA8EFF !important;
    }

    .white_print {
        background-color: #FFFFFF !important;
    }
}

@media (max-width: 1990px) {
    .rwd-height {
        height: 220px;
    }
}

@media (max-width: 992px) {
    .rwd-height {
        height: 220px;
    }
}

@media (max-width: 768px) {
    .rwd-height {
        height: 270px;
    }
}


@media screen{
    .red_print {
        background-color: #FFB6C1 !important;
    }

    .orange_print {
        background-color: #F4A460 !important;
    }

    .yellow_print {
        background-color: #F9F900 !important;
    }

    .green_print {
        background-color: #02DF82 !important;
    }

    .blue_print {
        background-color: #46A3FF !important;
    }

    .purple_print {
        background-color: #CA8EFF !important;
    }

    .white_print {
        background-color: #FFFFFF !important;
    }

    .feedback-left {
        width: 49%;
        height: 100%;
        float: left;
        border-radius: 10px;
        padding: 0px 10px;
    }

    .feedback-right {
        width: 49%;
        height: 100%;
        float: right;
        border-radius: 10px;
        padding: 10px 10px;
    }
}

