@font-face {
  font-family: 'iekeif';
  src:  url('fonts/iekeif.eot?j17r6p');
  src:  url('fonts/iekeif.eot?j17r6p#iefix') format('embedded-opentype'),
    url('fonts/iekeif.ttf?j17r6p') format('truetype'),
    url('fonts/iekeif.woff?j17r6p') format('woff'),
    url('fonts/iekeif.svg?j17r6p#iekeif') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iekeif','FontAwesome' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iekeif-pie-chart .path1:before {
  content: "\e90d";
  color: rgb(44, 47, 51);
}
.iekeif-pie-chart .path2:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(44, 47, 51);
}
.iekeif-pie-chart .path3:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(60, 146, 202);
}
.iekeif-pie-chart .path4:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(44, 47, 51);
}
.iekeif-iek_list .path1:before {
  content: "\e900";
  color: rgb(44, 47, 51);
}
.iekeif-iek_list .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(60, 146, 202);
}
.iekeif-iek_list .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(44, 47, 51);
}
.iekeif-iek_list .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(44, 47, 51);
}
.iekeif-iek_list .path5:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(60, 146, 202);
}
.iekeif-iek_list .path6:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(44, 47, 51);
}
.iekeif-iek_role .path1:before {
  content: "\e906";
  color: rgb(44, 47, 51);
}
.iekeif-iek_role .path2:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(44, 47, 51);
}
.iekeif-iek_role .path3:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(60, 146, 202);
}
.iekeif-iek_tool .path1:before {
  content: "\e909";
  color: rgb(44, 47, 51);
}
.iekeif-iek_tool .path2:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(44, 47, 51);
}
.iekeif-iek_tool .path3:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(60, 146, 202);
}
.iekeif-iek_tool .path4:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(60, 146, 202);
}
